@(user: Merchant)(form: Form[Application.Category])

@main("Custom Analytics", user) {


    I would like to see the number of likes in the following category:

    @helper.form(routes.Application.getLikesByCategory) {
        <div class="center">
            <input class="login-field" type="category" name="category" placeholder="Category">
        </div>
        <div class="center">
            <button id="button" type="submit">Find it!</button>
        </div>
    }

    @if(flash.contains("categoryLikes")) {
        <p class="success">
        @flash.get("categoryLikes")
        </p>
    }

}