@(user: Merchant)

@main("Custom Analytics", user) {


    I would like to see the number of likes in the following category:

    @helper.form(routes.Application.getLikesByCategory) {
        <select name="categoryList">
            <option value="clothing">Clothing</option>
            <option value="electronics">Electronics</option>
            <option value="decorations">Decorations</option>
        </select>
        <input type="submit"/>
    }

    @if(flash.contains("categoryLikes")) {
        <p class="success">
        @flash.get("categoryLikes")
        </p>
    }

}