@(user: Merchant)(form: Form[Application.Category])

@main("Custom Analytics", user) {


    I would like to see the number of likes in the following category:

    @helper.form(routes.Application.getLikesByCategory) {
        <select name="categoryList">
            <option value="@form.(category).value" name="category">Clothing</option>
            <option value="electronics" name="category">Electronics</option>
            <option value="decorations" name="category">Decorations</option>
        </select>
        <input type="submit"/>
    }

    @if(flash.contains("categoryLikes")) {
        <p class="success">
        @flash.get("categoryLikes")
        </p>
    }

}